body {
    font-family: 'Raleway', sans-serif;
}


.pagenofooter {
    max-width: 1800px;
    margin   : 0 auto;
}

/* textes */

strong {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size  : 1.1em;
}

em {
    color      : #0065FC;
    font-weight: bold;
    font-style : normal;
}

p {
    margin: 0.1em;
}



/* Naviguation */
.nav_mobile {
    display: none;
}

.nav_mobile_1 {
    display: none;
}

.nav_mobile_2 {
    display: none;
}

.nav_desktop {
    display        : flex;
    justify-content: space-between;
    align-items    : center;

    width : 100%;
    height: 70px;
    top   : 0px;

    position: sticky;

    background-color: white;
    z-index         : 1;
}

.logo {
    display    : flex;
    height     : 100%;
    width      : 120px;
    align-items: center;
}

.nav_desktop img {
    object-fit: cover;
    width     : 100%;
}

.nav_pages {
    display        : flex;
    justify-content: space-around;
    list-style-type: none;

    height   : 100%;
    flex     : 0.33;
    font-size: 1.1em;
}

.nav_pages_inscription {
    display    : flex;
    align-items: center;

    color         : #0065FC;
    font-weight   : bold;
    padding-bottom: 15px;
}

.nav_desktop a {
    padding: 15px;
}

.nav_desktop .nav_pages a:focus {
    border-top: #0065FC 3px solid;
    color     : #0065FC;
}

.nav_desktop .nav_pages a:hover {
    border-top: #0065FC 3px solid;
    color     : #0065FC;
}

/* Naviguation dynamique */


.nav_pages_activites:hover {
    opacity        : 70%;
    text-decoration: none;
}

.nav_pages_hebergement:hover {
    opacity        : 70%;
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

nav a:link {
    text-decoration: none;
}

/* Header */

header {
    display       : flex;
    flex-direction: column;
    width         : 100%;
}

h2 {
    font-weight  : bolder;
    font-size    : 1.3em;
    margin-bottom: 0%;
}

header p {
    margin-top   : 0.5%;
    margin-bottom: 1%;
}

header mark {
    color           : black;
    background-color: white;
    padding-top     : 10px;
    margin-bottom   : 35px;

}

.info {
    color           : white;
    background-color: blue;
    border-radius   : 5em;
}


/* Travail sur le bouton recherche et géoloc*/

.geoloc_picto_mobile {
    display: none;
}

.geoloc {
    display        : flex;
    justify-content: space-between;
    border         : #F2F2F2 solid 1px;
    border-radius  : 0.8em;
    width          : 35em;
    height         : 3em;
}



.geoloc_picto {
    display                   : flex;
    justify-content           : center;
    width                     : 20%;
    background-color          : #F2F2F2;
    border-radius             : 0.75em;
    border-bottom-right-radius: 0em;
    border-top-right-radius   : 0em;
}

.geoloc_picto i {
    display        : flex;
    justify-content: center;
    align-items    : center;
    color          : black;
    font-size      : 1.6em;
    border-radius  : 1em;
}

.geoloc_recherche {
    display        : flex;
    width          : 30%;
    justify-content: center;
    align-items    : center;
    font-weight    : bolder;

    color                    : white;
    background-color         : #0065FC;
    border-radius            : 0.75em;
    border-bottom-left-radius: 0em;
    border-top-left-radius   : 0em;
}

input {
    font-family    : 'Raleway', sans-serif;
    display        : flex;
    text-decoration: none;
    border         : none;
    padding        : 0px;
    height         : 100%;
}

.geoloc_recherche input {
    background-color: #0065FC;
    color           : white;
    font-size       : 1em;
    font-weight     : bold;
}

.geoloc_form input {
    background-color: white;
    color           : black;
    font-size       : 1.1em;
    font-weight     : bold;

}

::placeholder {
    text-decoration : none;
    background-color: white;
    color           : greyS;
    font-family     : 'Raleway', sans-serif;
    border          : none;
    font-weight     : bold;
    background-clip : content-box;
}


/* delete cross du placeholder */

input[type=search]::-ms-clear {
    display: none;
    width  : 0;
    height : 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width  : 0;
    height : 0;
}

input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}



/* Travail sur les filtres */

.filtres {
    display        : flex;
    list-style-type: none;
    justify-content: flex-start;
    align-content  : center;
    width          : 75%;
}

.filtres h3 {
    display    : flex;
    font-size  : 1.3em;
    align-items: center;
    margin     : 0px;
}

.filtres ul {
    display        : flex;
    width          : 100%;
    justify-content: space-between;
    flex-wrap      : wrap;
}

.filtres li:hover {
    background-color: #0065FC;
    color           : white;
}


.filtres li {
    display      : flex;
    align-items  : center;
    border       : 1px #DEEBFF solid;
    border-radius: 2em;
    height       : 3em;
    transition   : all 0.15s;

}

.filtres i {
    border-radius   : 0.5em;
    background-color: #deebff;
    color           : white;

}

.filtres .fas {
    display    : flex;
    align-items: center;

    width : 3em;
    height: 3em;

    justify-content: center;
    border-radius  : 6em;
    color          : #0065FC;
}

.filtres strong {
    margin   : 0.8em;
    font-size: 1.2em;
}





/* Sections & articles */

.lesections {
    display        : flex;
    flex-wrap      : nowrap;
    justify-content: space-around;
    margin-bottom  : 50px;
    width          : 100%;
}

.lesections_titre {
    flex          : 90%;
    padding-bottom: 0.3em;
    margin-left   : 3%;
}

article {
    display         : flex;
    flex-direction  : column;
    background-color: white;

    border       : 4px white solid;
    border-radius: 1.5em;
    box-shadow   : 1px 1px 8px grey;
}

article ul {
    display     : flex;
    list-style  : none;
    padding-left: 2em;
}



/* Hebergements à Marseille */
.notation {
    display         : flex;
    background-color: #F2F2F2;

    justify-content: center;
    flex-wrap      : wrap;
    width          : 63%;
    border-radius  : 2em;
}

.afficher {
    width        : 90%;
    margin-bottom: 2em;
    margin-top   : 1em;
}

.notation article {
    width : 270px;
    height: 235px;
    margin: 15px;
}

.notation img {
    object-fit   : cover;
    border-radius: 1.5em 1.5em 0em 0em;
    width        : 100%;
    height       : 140px;
}

.notation ul {
    width       : 100%;
    padding-left: 1em;
    margin      : 0em;
}

.notation div {
    padding-left: 1em;
    margin      : 0em;
}

.fa-star {
    color: #0065FC;
}

.blanc {
    color: #dad8d8;
}


/* Les plus populaires */

.pop {
    display        : flex;
    justify-content: center;

    background-color: #F2F2F2;
    flex-wrap       : wrap;
    width           : 32%;
    border-radius   : 2em;
}

.pop a {
    width: 90%;
}

.pop article {
    display       : flex;
    flex-direction: row;
    width         : 100%;
    height        : 160px;
    margin        : 0px;
}

.pop img {
    display      : flex;
    object-fit   : cover;
    height       : 100%;
    width        : 140px;
    border-radius: 1.5em 0em 0em 1.5em;
}

.pop h2 {
    display        : flex;
    justify-content: space-between;
    align-content  : center;
    width          : 90%;
}

.fa-chart-line {
    font-size: 1.5em;
}


.pop div {
    display       : flex;
    flex-direction: column;

    height: 100%;
    width : 45%;

    padding: 1em;
    margin : 0px;


}

.pop ul {
    display     : flex;
    padding-left: 0px;
    padding-top : 1.5em;
}

/* dynamisation Lessections */

article:hover {
    opacity  : 80%;
    transform: scale(1.02);
}

/* Activité à Marseille */

.activite_mobile {
    display: none;
}

.activite {
    display        : flex;
    justify-content: space-between;

    height: 600px;
    width : 100%;
}

.colonne1,
.colonne2 {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : center;

    height: 100%;
    width : 100%;
}

.activite p {
    display        : flex;
    justify-content: flex-start;
    margin-top     : 1em;
    padding-left   : 1em;
}


.activite a {
    display       : flex;
    flex-direction: column;

    border-radius: 2em;

    box-shadow: 2px 2px 10px grey;
    width     : 80%;
}

.activite img {
    object-fit   : cover;
    border-radius: 2em 2em 0em 0em;
    width        : 100%;
}


.activite1,
.activite4 {
    height: 100%;
}

.activite1_photo,
.activite4_photo {
    height: 90%;
}


.activite2,
.activite5 {
    height: 50%;
}

.activite2_photo,
.activite5_photo {
    height: 80%;
}



.activite3,
.activite6 {
    height: 40%;
}

.activite3_photo,
.activite6_photo {
    height: 76%;
}


/* dynamisation partie activite */

a:visited {
    text-decoration: none;
    color          : black;
}

a:link {
    cursor         : pointer;
    text-decoration: none;
    color          : black;
}

.activite1:hover .activite2:hover {
    opacity: 80%
}

.activite1:hover {
    opacity  : 80%;
    transform: scale(1.02);
}

.activite2:hover {
    opacity  : 80%;
    transform: scale(1.02);
}

.activite3:hover {
    opacity  : 80%;
    transform: scale(1.02);
}

.activite4:hover {
    opacity  : 80%;
    transform: scale(1.02);
}

.activite5:hover {
    opacity  : 80%;
    transform: scale(1.02);
}

.activite6:hover {
    opacity  : 80%;
    transform: scale(1.02);
}


/* Footer */

footer {
    display         : flex;
    justify-content : space-around;
    background-color: #F2F2F2;
    margin-top      : 4em;
}

footer ul {
    display       : flex;
    list-style    : none;
    flex-direction: column;
    align-items   : flex-start;
    margin        : 1em;
    padding       : 1em;
}

footer li {
    margin: 10px;
}

/* Media Queries Nav-bar */

@media(max-width:1240px) {

    /* Nav bar movile max-width:1240px */

    body {
        margin: 0px;
    }


    .nav_desktop {
        display: none;
    }

    .pagenofooter {
        display  : flex;
        flex-wrap: wrap;
        margin   : 0px 5px 5px 5px;
    }

    .nav_mobile {
        display  : flex;
        flex-wrap: wrap;
        width    : 100%;
    }

    .nav_mobile_1 {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        width          : 100%;
    }

    .logo {
        display        : flex;
        justify-content: flex-start;
        padding-left   : 1.5em;
    }

    .nav_pages_inscription_mobile {
        padding-right: 1.5em;
        color        : #0065FC;
        font-weight  : bolder;
    }


    .nav_mobile_2 {
        display                    : flex;
        width                      : 100%;
        justify-content            : space-around;
        -webkit-tap-highlight-color: transparent;
    }

    .nav_mobile a {
        padding: 15px;
    }

    .nav_pages_hebergement_mobile {
        display        : flex;
        width          : 50%;
        justify-content: center;
        align-items    : center;
        border-bottom  : #f2f2f2 solid 5px;
    }

    .nav_pages_hebergement_mobile:focus {
        border-bottom: #0065FC 5px solid;
        color        : #0065FC;
    }

    .nav_pages_activites_mobile {
        display        : flex;
        width          : 50%;
        justify-content: center;
        align-items    : center;
        border-bottom  : #f2f2f2 solid 5px;
    }

    .nav_pages_activites_mobile:focus {
        border-bottom: #0065FC 5px solid;
        color        : #0065FC;
    }


    /* header max-width:1240px  */

    header h2 { 
        width: 80%;
        margin: 1em 0em 0.5em 0.5em;
    }

    header p { 
        text-align: justify;
        width: 80%;
        margin: 0em 0em 1.5em 0.5em;
    }

    .filtres {
        flex-wrap: wrap;
        width    : 80%;
        height   : auto;
    }

    .filtres h3 {
        margin: 35px 0px 0px 0px;
    }

    .filtres ul {
        padding: 0px;
    }

    .filtres li {
        margin: 0.2em;
    }

    
    /* résultat recherche:1240px  */

    .lesections {
        flex-wrap: wrap;
    }

    .lesections a {
        width : 90%;
        margin: 1.5em;
    }

    .lesections article {
        height : 180px;
        margin : 0em;
        padding: 0.2em;
    }

    .pop {
        border-radius: 0em;
        width        : 100%;
        order        : 1;
        margin-bottom: 2em;

    }

    .pop a {
        width: 27%;
    }

    .pop div {
        width: 100%;
    }

    .pop ul {
        padding-top: 0em;
    }

    .pop article {
        width: 100%;
    }

    .pop img {
        width: 35%;
    }

    .notation {
        flex-direction  : ;
        background-color: white;
    }

    .notation a {
        width: 41%;
    }

    .notation img {
        height: 70%;
    }

    .notation article {
        height: 230px;
        width : 100%;
    }


    .notation {
        width: 100%;
        order: 2;
    }




    /* activite mobile max-width:1240px  */

    .activite {
        display: none;
    }

    .activite_mobile {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: center;
        margin         : 1em;
    }

    .activite_mobile a {
        width        : 45%;
        height       : 260px;
        border-radius: 2em 2em 2em 2em;
        box-shadow   : 2px 2px 10px grey;
        margin       : 1em;
    }

    .activite_mobile img {
        object-fit   : cover;
        width        : 100%;
        height       : 85%;
        border-radius: 2em 2em 0em 0em;
    }

    .activite_mobile p {
        display        : flex;
        justify-content: flex-start;
        margin-top     : 0.5em;
        margin-left    : 1em;
    }
}

@media (max-width:814px) {

    .geoloc_recherche {
        display: none;
    }

    .geoloc {
        width: 95%;
    }

    .geoloc_picto_mobile {
        display         : flex;
        color           : white;
        background-color: #0065FC;
        height          : 100%;
        width           : 10%;
        align-items     : center;
        justify-content : center;
        border-radius   : 1em 1em 1em 1em;
    }

    .fa-search {
        font-size: 1.2em;
    }

    .pop a {
        width: 100%;
    }

    .notation a {
        width: 90%;
    }

    .activite_mobile {
        margin: 0em;
    }

    .activite_mobile a {
        width: 90%;
    }

    footer {
        width    : 100%;
        flex-wrap: wrap;
    }

    footer ul {
        width: 100%;

    }
}