body {
    font-family: "Raleway", sans-serif;
    margin: 0px;
}

.pagenofooter {
    max-width: 1440px;
    margin   : 0 auto;
}

/* textes */


em {
    font-weight: bold;
    font-style : normal;
}

p {
    margin: 0.1em;
}


/* Naviguation */

nav {
    display        : flex;
    justify-content: space-between;
    align-items    : center;

    width : 100%;
    height: 70px;
    top   : 0px;

    position: sticky;

    background-color: white;
    z-index         : 1;
}

.logo {
    display    : flex;
    height     : 100%;
    width      : 120px;
    align-items: center;
}

nav img {
    object-fit: cover;
    width     : 100%;
}

.nav_pages {
    display        : flex;
    justify-content: space-around;
    list-style-type: none;

    padding-right: 150px;

    height   : 100%;
    flex     : 0.33;
    font-size: 1.1em;
}

.nav_pages_inscription {
    position: absolute;
    top: 13px; 
    right: 40px;

    color         : #0065fc;
    font-weight   : bold;
}

nav a {
    padding: 15px;
}

.nav_pages a:focus {
    border-top: #0065fc 3px solid;
    color     : #0065fc;
}

.nav_pages a:hover {
    border-top: #0065fc 3px solid;
    color     : #0065fc;
}



/* Naviguation dynamique */

.nav_pages_activites:hover {
    opacity        : 70%;   
    text-decoration: none;
}

.nav_pages_hebergement:hover {
    opacity        : 70%;
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

nav a:link {
    text-decoration: none;
}

/* Header */

header {
    display       : flex;
    flex-direction: column;
    width         : 100%;
}

header h2 {
    font-weight  : bolder;
    font-size    : 1.3em;
    margin-bottom: 0%;
}

header p {
    margin-top   : 0.5%;
    margin-bottom: 1%;
}

header mark {
    color           : black;
    background-color: white;
    padding-top     : 10px;
    margin-bottom   : 35px;
}

.info {
    color           : white;
    background-color: blue;
    border-radius   : 5em;
}



/* Travail sur le bouton recherche et géoloc*/

.geoloc_picto_mobile {
    display: none;
}

.geoloc {
    display        : flex;
    justify-content: space-between;
    border         : #f2f2f2 solid 1px;
    border-radius  : 0.8em;
    width          : 35em;
    height         : 3em;
}

.geoloc_picto {
    display                   : flex;
    justify-content           : center;
    width                     : 20%;
    background-color          : #f2f2f2;
    border-radius             : 0.75em;
    border-bottom-right-radius: 0em;
    border-top-right-radius   : 0em;
}

.geoloc_picto i {
    display        : flex;
    justify-content: center;
    align-items    : center;
    color          : black;
    font-size      : 1.6em;
    border-radius  : 1em;
}

button {
    display        : flex;
    width          : 30%;
    justify-content: center;
    align-items    : center;
    font-weight    : bolder;

    color                    : white;
    background-color         : #0065fc;
    border-radius            : 0em 0.75em 0.75em 0em;
    border: none;  

    font-size: 1em;
}


input {
    font-family    : "Raleway", sans-serif;
    display        : flex;
    text-decoration: none;
    border         : none;

    height         : 100%;
    max-width: 170px;

    background-color: white;
    color           : black;
    font-size       : 1.1em;
    font-weight     : bold;
}

::placeholder {
    text-decoration : none;
    background-color: white;
    color           : grey;
    font-family     : "Raleway", sans-serif;
    border          : none;
    font-weight     : bold;
    background-clip : content-box;
}



/* delete cross du placeholder */

input[type="search"]::-ms-clear {
    display: none;
    width  : 0;
    height : 0;
}

input[type="search"]::-ms-reveal {
    display: none;
    width  : 0;
    height : 0;
}

input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}



/* Travail sur les filtres */

.filtres {
    display        : flex;
    list-style-type: none;
    justify-content: flex-start;
    align-content  : center;
    width          : 75%;
}

.filtres h2 {
    display    : flex;
    font-size  : 1.3em;
    align-items: center;
    margin     : 20px 0px 5px 15px;
    
}

.filtres ul {
    display        : flex;
    width          : 100%;
    justify-content: space-between;
    flex-wrap      : wrap;
}

.filtres li:hover {
    background-color: #0065fc;
    color           : white;
}

.filtres li {
    display      : flex;
    align-items  : center;
    border       : 1px #deebff solid;
    border-radius: 2em;
    height       : 3em;
    transition   : all 0.15s;
}

.filtres i {
    border-radius   : 0.5em;
    background-color: #deebff;
    color           : white;
}

.filtres .fas {
    display    : flex;
    align-items: center;

    width : 3em;
    height: 3em;

    justify-content: center;
    border-radius  : 6em;
    color          : #0065fc;
}

.filtres strong {
    margin   : 0.8em;
    font-size: 1.2em;
}



/* Sections & articles */

.lesections {
    display        : flex;
    flex-wrap      : nowrap;
    justify-content: space-around;
    margin-bottom  : 50px;
    width          : 100%;
}

.lesections h3 { 
    margin: 0px;
}

.lesections_titre {
    flex          : 90%;
    padding-bottom: 0.3em;
    margin-left   : 3%;
}

article {
    display         : flex;
    flex-direction  : column;
    background-color: white;

    border       : 2px white solid;
    border-radius: 1.5em;
    box-shadow   : 1px 1px 8px grey;
}

article ul {
    display     : flex;
    list-style  : none;
    padding-left: 2em;
}



/* Hebergements à Marseille */
.notation {
    display         : flex;
    background-color: #f2f2f2;

    justify-content: center;
    flex-wrap      : wrap;
    width          : 63%;
    border-radius  : 2em;
}

.afficher {
    width        : 90%;
    margin-bottom: 1em;
    margin-top   : 1em;
}

.notation article {
    width : 245px;
    height: 200px;
    margin: 15px;
    font-size: 0.85em;
    
}

.notation img {
    object-fit   : cover;
    border-radius: 1.5em 1.5em 0em 0em;
    width        : 100%;
    height       : 123px;
    padding-bottom: 0.5em;
}

.notation ul {
    width       : 100%;
    padding: 0.3em 0em 0em 1em;
    margin      : 0em;
}

.notation p { 
    padding: 0.1em 0em 0em 0em;
}

.notation div {
    padding-left: 1em;
    margin      : 0em;
}

.fa-star {
    color: #0065fc;
}

.blanc {
    color: #dad8d8;
}



/* Les plus populaires */

.pop h3 { 
    font-size: 1em;
    padding-bottom: 0.5em;
}


.pop {
    display        : flex;
    justify-content: center;

    background-color: #f2f2f2;
    flex-wrap       : wrap;
    width           : 32%;
    border-radius   : 2em;
}

.pop a {
    width         : 330px;
}

.pop article {
    display       : flex;
    flex-direction: row;
    margin        : 0px;
    height        : 150px;
    width: 100%;
}

.pop img {
    display      : flex;
    object-fit   : cover;
    height       : 100%;
    width        : 140px;
    border-radius: 1.5em 0em 0em 1.5em;
}

.pop h2 {
    display        : flex;
    justify-content: space-between;
    width          : 90%;
}

.fa-chart-line {
    font-size: 1.5em;
}

.pop div {
    display       : flex;
    flex-direction: column;

    height: 100%;
    width : 50%;

    padding: 1em;
    margin : 0px;
}

.pop ul {
    display     : flex;
    padding-left: 0px;
    padding-top : 0.5em;
    padding-bottom: 0.1em;
    margin-bottom: 0.1em;
}



/* dynamisation Lessections */

article:hover {
    opacity  : 80%;
    transform: scale(1.02);
}



/* Activité à Marseille */

.activite {
    display        : grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 300px 150px;
    justify-content: center;
    justify-items: center;
}

.titre_activite { 
    margin-bottom: 2em;
}

.activite1 { 
    grid-column: 1;
    grid-row: 1 / span 2;
}
.activite2 { 
    grid-column: 2;
    grid-row: 1;
}

.activite3 { 
    grid-column: 2;
    grid-row: 2;
}

.activite4 { 
    grid-column: 3;
    grid-row:  1 / span 2;
}

.activite5 {
    grid-column: 4;
    grid-row: 1;
}

.activite6 { 
    grid-column: 4;
    grid-row: 2;
}




.activite h3 {
    display        : flex;
    justify-content: flex-start;
    margin-top     : 1em;
    padding-left   : 1em;
}

.activite a {
    display       : flex;
    flex-direction: column;

    border-radius: 2em;

    box-shadow: 2px 2px 10px grey;
    width     : 92.68%;
}

.activite img {
    object-fit   : cover;
    border-radius: 2em 2em 0em 0em;
    width        : 100%;
}

.activite1_photo, 
.activite4_photo { 
    height: 87%;
}

.activite2,
.activite5 {
    height: 82%;
}

.activite2_photo,
.activite5_photo {
    height: 76%;
}

.activite3,
.activite6 {
    height: 100%;
}

.activite3_photo,
.activite6_photo {
    height: 60.75%;
}



/* dynamisation partie activite */

a:visited {
    text-decoration: none;
    color          : black;
}

a:link {
    cursor         : pointer;
    text-decoration: none;
    color          : black;
}

.activite1:hover {
    opacity  : 80%;
    transform: scale(1.02);
}

.activite2:hover {
    opacity  : 80%;
    transform: scale(1.02);
}

.activite3:hover {
    opacity  : 80%;
    transform: scale(1.02);
}

.activite4:hover {
    opacity  : 80%;
    transform: scale(1.02);
}

.activite5:hover {
    opacity  : 80%;
    transform: scale(1.02);
}

.activite6:hover {
    opacity  : 80%;
    transform: scale(1.02);
}



/* Footer */

footer {
    display         : flex;
    justify-content : space-around;
    background-color: #f2f2f2;
    margin-top      : 4em;
}

footer ul {
    display       : flex;
    list-style    : none;
    flex-direction: column;
    align-items   : flex-start;
}

footer li {
    margin: 10px;
}



/* Media Queries Nav-bar */

@media (max-width: 1024px) {

    /* Nav bar movile max-width:1240px */

    body {
        margin: 0px;
    }

    .pagenofooter {
        display  : flex;
        flex-wrap: wrap;
        margin   : 0px 5px 5px 5px;
    }

    nav { 
        height: 135px;
        align-items: initial;
        justify-content: initial;
        flex-direction: column;
    }

    .nav_pages_inscription { 
        top:32px; 
        right: 15px;
    }

    .nav_pages { 
        padding-right: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .nav_pages_hebergement { 
        width: 50%; 
        border-bottom: solid #f2f2f2 3px;
    }

    .nav_pages_activites { 
        width: 50%; 
        border-bottom: solid#f2f2f2 3px;
    }

    .logo { 
        margin:12px;
        align-items: flex-start;
    }

    .nav_pages a:focus {
        border-top: white 3px solid;
        color     : #0065fc;
    }

    .nav_pages a:hover {
        border-top: white 3px solid;
        border-bottom: #0065fc 3px solid;
        color     : #0065fc;
    }

    /* header max-width:1240px  */

    header h2 {
        width : 80%;
        margin: 1em 0em 0.5em 0.5em;
    }

    header p {
        text-align: justify;
        width     : 80%;
        margin    : 0em 0em 1.5em 0.5em;
    }

    .filtres {
        flex-wrap: wrap;
        width    : 80%;
        height   : auto;
    }

    .filtres h3 {
        margin: 35px 0px 0px 0px;
    }

    .filtres ul {
        padding: 0px;
    }

    .filtres li {
        margin: 0.2em;
    }

    /* résultat recherche:1240px  */

    .lesections {
        flex-wrap: wrap;
    }

    .lesections a {
        width : 90%;
        margin: 0em 1em 1em 1em;
    }

    .lesections article {
        height : 180px;
        margin : 0em;
        padding: 0.2em;
    }

    .pop {
        border-radius: 0em;
        width        : 100%;
        order        : 1;
        padding-bottom: 1.5em;
        margin-bottom: 1em;
    }

    .pop a {
        width: 100%;
    }

    .pop div {
        width: 100%;
    }

    .pop ul {
        padding-top: 0em;
    }

    .pop article {
        width: 100%;
        height: 135px;
    }

    .pop img {
        width: 35%;
    }

    .notation {
        background-color: white;
        width: 100%;
        order: 2;
        justify-content: space-evenly;
    }

    .notation a { 
        width: 45%;
    }

    .notation article {
        width : 100%;
        height: 190px;
    }
    .notation img {
        height: 60%;
    }

    /* activite max-width: 1024px  */

    .activite {
        display        : grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 220px 220px 220px  ;
        justify-content: space-between;
    }

    .titre_activite { 
        margin: 0em 0em 1.5em 1em;
    }
    
    .activite1 { 
        grid-column: 1 ;
        grid-row: 1 ;
    }
    .activite2 { 
        grid-column: 2 ;
        grid-row: 1;
    }
    
    .activite3 { 
        grid-column: 1 ;
        grid-row: 2;
    }
    
    .activite4 { 
        grid-column: 2;
        grid-row: 2;
    }
    .activite5 {
        grid-column: 1 ;
        grid-row: 3;
    }
    
    .activite6 { 
        grid-column: 2 ;
        grid-row: 3;
    }

    .activite img { 
        height: 67.5%;
    }

    .activite a { 
        height: 185px;
    }

}

@media (max-width: 768px) {

    .notation img { 
        height: 123px; 
        object-position: -15% 75%;
    }
    .notation :nth-child(5) img { 
        object-position: 0% 95%;
    }
    .notation :nth-child(7) img { 
        object-position: 0% 100%;
    }

    .notation :nth-child(8) img { 
        object-position: -50% 65%;
    }



    .fa-search {
        font-size: 1.2em;
    }
    .notation a {
        width: 90%;
    }

    .activite {
        display        : grid;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 220px 220px 220px 220px 220px 220px ;
        justify-content: space-between;
    }
    
    .activite1 { 
        grid-column: 1 ;
        grid-row: 1 ;
    }
    .activite2 { 
        grid-column: 1 ;
        grid-row: 2;
    }
    
    .activite3 { 
        grid-column: 1 ;
        grid-row: 3;
    }
    
    .activite4 { 
        grid-column: 1;
        grid-row: 4;
    }
    .activite5 {
        grid-column: 1 ;
        grid-row: 5;
    }
    
    .activite6 { 
        grid-column: 1 ;
        grid-row: 6;
    }

    .activite img { 
        height: 67.5%;
    }

    .activite a { 
        height: 185px;
    }


    footer {
        width    : 100%;
        flex-wrap: wrap;
        margin-top: 35px;
    }

    footer ul {
        width: 100%;
    }
}

@media (max-width: 600px) {
    button  {
        display: none;
    }

    .geoloc {
        width: 95%;
    }

    .geoloc_picto_mobile {
        display         : flex;
        color           : white;
        background-color: #0065fc;
        height          : 100%;
        width           : 10%;
        min-width: 50px;
        align-items     : center;
        justify-content : center;
        border-radius   : 1em 1em 1em 1em;
    }

    .fa-search {
        font-size: 1.2em;
    }
}